<mat-grid-list cols="1" rowHeight="1:1" gutterSize="50">
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="50" style="top:5%" *ngFor="let ordine of ordini | async">
        <mat-grid-tile *ngFor="let prod of ordine.dettagli" style="display:flex !important">
        <mat-card>
            <mat-card-header style="background-color: var(--primary-color);">
                <mat-card-title style="color:var(--accent-color)">{{prod.prodotto.nome}}</mat-card-title>
                <mat-card-subtitle style="color:var(--accent-color)">{{prod.prodotto.nomeBrand}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image style="max-width: 350px !important;" src="{{prod.prodotto.url}}" alt={{prod.prodotto.nome}}>
            <mat-card-footer></mat-card-footer>
                    <mat-card-actions>
                        <!-- PREZZO -->
                        <button mat-stroked-button disabled>{{prod.prezzo}} €</button>
                        <!-- QUANTITA andrebbe fatto dopo che si seleziona la taglia, così da associarlo alla taglia scelta-->
                        <button mat-button color="warn" >{{prod.qta}}</button>
                        <!-- DATA -->
                        <button mat-button color="warn" >{{ordine.data | date: 'dd/MM/yyyy'}}</button>
                    </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</mat-grid-list>